body,tr,ol,em,p,a,h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
    color: #000;
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft Yahei";
}

body{background: #F5F7F9;}

ol{list-style: none;}

a{text-decoration: none;}

input{
    border: 0;
    background-color: #fff;
}

.clearfix::before .clearfix::after{content: ''; display: table;}
.clearfix:after{clear: both;}
.clearfix{zoom:1}

.container{
    width: 1400px;
    text-align: center;
    margin: 0 auto 0;
}

.left_nav{
    background: #fff;
    width: 350px;
    float: left;
}

.sait_name{
    background: #9B0000;
    height: 140px;
}

.sait_name a{
    color: #fff;
    font-size: 30px;
    line-height: 140px;
}

.nav_list_unit{

    line-height: 50px;
    margin: 10px 0px 10px 30px;
    text-align: left;
    text-indent: 24px;
}

.nav_list_unit input{
    color: #868686;
    width: 200px;
    font-size: 22px;
    font-family: 'Mircosoft Yahei';
    outline-style: none;
    cursor: pointer;
    text-align: left;
    text-indent: 36px;
    border-bottom: 2px solid red;

}

.nav_list_unit input:hover a:hover{
    color: red;
    font-weight: bold;
}


.style-Linux{background: url(../image/linux_24px.ico) no-repeat left center;}

.style-Database{background: url(../image/database_24px.ico) no-repeat left center;}

.style-Python{background: url(../image/python_24px.ico) no-repeat left center;}

.style-Script{background: url(../image/script_24px.ico) no-repeat left center;}

.unit_title{text-indent:60px;}

.unit_title a{font-size: 16px; color: #868686;}







.main_container{
    background: #fff;
    width: 1000px;
    margin:x auto;
    float: right;
    padding: 200px auto;
}

.box1{
    margin-bottom: 70px;
}
